  * {
  scroll-behavior: smooth;
  }
  #preloading-screen {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    transform: all 0.5s ease-out;
    z-index: 1000;
    opacity: 100%;
  }  
  /*fade animations*/
  @keyframes fade-out {
    from {
      opacity: 100%;
    }
    to {
      opacity: 0%;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0%;
  }
  #fade {
    background-color: rgba(0,0,0,0.0);
    border: none;
  }
  #fade:hover {
    cursor: pointer;
    filter: 
      drop-shadow(5px 0px 0px white);
  }
  
  #topBtn {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0.0);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    z-index: 99;
    transition: all 0.3s;
  }
  
  #topBtn:hover {
    color: black;
    transition: 0.2s;
  }

  #video-1 {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
body {
  overflow-x: hidden;
  color: white;
  font-size: 1.5rem;
  font-family: "Archivo Black", sans-serif;
  margin: 0px;
}
::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  background-color: black;
}
::-webkit-scrollbar-thumb {
  background: rgba(250,250,250,0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgba(255,0,255,0.5),rgba(55, 90, 207, 0.5))
}
/*NAVBAR*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 86px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s;
}
.nav-up {
  top: -70px;
}
.menu {
  margin-left: 3%;
  margin-right: 3%;
}
li {
  list-style-type: none;
  display: inline-flex;
  margin: 0 1em;
  
}
li a{
  color: white;
  text-decoration: none;
  padding-bottom: 2%;
}

li a:hover {
  text-shadow: 
    5px 0px 2px rgba(255,0,255,0.5), 
    -4px 0px 5px rgba(0,255,191,0.5), 
    5px 0px 10px rgba(49,122,255,1);
}

#dropdown {
  display: none;
  position: fixed;
  width: 400px;
}
#dropdown li a{
  font-size: 1.3rem;
}
#menu-dropdown {
  cursor: pointer;
}
#menu-dropdown:hover #dropdown {
  display: block;
  top: 55px;
  padding: 10px;
}

#resume-btn {
  text-decoration: none;
  background: rgba(0,0,0,0.0);
  border-color: white;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#resume-btn:hover {
  filter: 
    drop-shadow(5px 0px 2px rgba(255,0,255,0.5))
    drop-shadow(-4px 0px 5px rgba(0,255,191,0.5))
    drop-shadow(5px 0px 10px rgba(49,122,255,1));
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 30%;
}
/* HOME */
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: auto;
}
.container_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 1000px;
  height: 400px;
  border-radius: 10px;
  padding: 0% 5%;
  background-color: rgba(0,0,0,0);
}
h1 {
  text-transform: uppercase;
  color: white;
  text-shadow: 
    5px 0px 2px rgba(255,0,255,0.5), 
    -4px 0px 5px rgba(0,255,191,0.5), 
    5px 0px 10px rgba(49,122,255,1);
}
.follow-icons a {
  margin: 10px;
}
.follow-icons a:hover {
  filter: 
    drop-shadow(5px 0px 2px rgba(255,0,255,0.5))
    drop-shadow(-4px 0px 5px rgba(0,255,191,0.5))
    drop-shadow(5px 0px 10px rgba(49,122,255,1));
}

/* ABOUT-ME */

#about-me {
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  background-image: url("../images/bg-1.jpg");
  background-size: contain;
}
.container_2 {
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  width: 85vw;
}

/* SKILLS */
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;  
  object-fit: cover;
  background-image: url("../images/bg-3.jpg");
}
h3 {
  margin: 0%;
  text-align: center;
  color: white;
  text-shadow: 
    5px 0px 2px rgba(255,0,255,0.5), 
    -4px 0px 5px rgba(0,255,191,0.5), 
    5px 0px 10px rgba(49,122,255,1);
}
.skills-grid-pic img {
  height: 100px;
  filter: brightness(90%);
}
.skills-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
  margin-top: 80px;
}
.skills-grid-container-2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  margin-top: 80px;
}
.container_2_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.skills-grid {
  text-align: center;
  margin-inline: 100px;
}
.skills-grid-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* PROJECTS */
#video-2 {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  z-index: -1;
}
.container_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#projects {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  z-index: 1;
}
h2 {
  margin: 0%;
  text-align: center;
  color: white;
  text-shadow: 
    5px 0px 2px rgba(255,0,255,0.5), 
    -4px 0px 5px rgba(0,255,191,0.5), 
    5px 0px 10px rgba(49,122,255,1);
}
#p-2 {
  font-size: 1.2rem;
  margin-bottom: 50px;
}
.projects-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto;
}
.grid-pic img {
  width: 500px;
}

.grid {
  margin-right: 10px;
  counter-increment: grid;
}
.grid:before {
  display: block;
  position: fixed;
  text-align: center;
  content: counter(grid);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
#grid-link:hover {
  filter: 
    drop-shadow(5px 0px 2px rgba(255,0,255,0.5))
    drop-shadow(-4px 0px 5px rgba(0,255,191,0.5))
    drop-shadow(5px 0px 10px rgba(49,122,255,1));
}

.container_4 {
  text-align: center;
  padding: 2%;
  padding-top: 3%;
  height: 70vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
}
.grid-pic-2 img {
  height: 500px;
  margin-right: 50px;
}
.grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#appdev-btn {
  background-color: rgba(0,0,0,0.0);
  color: white;
  border-color: white;
  font-size: 1.2rem;
  font-family: "Archivo Black", sans-serif;
  cursor: pointer;
}
.grid-pic-2-1 {
  width: 500px;
  margin-left: 50px;
}
#projects-2 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 80vh;
  background-image: url("../images/bg-5.jpg");
  object-fit: cover;
}
#text-filter {
  text-shadow: 
    5px 0px 2px rgba(255,0,255,0.5), 
    -4px 0px 5px rgba(0,255,191,0.5), 
    5px 0px 10px rgba(49,122,255,1);
}
/* PROJECTS-3 */
#video-3 {
  display: block;
  position: absolute;
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  z-index: -1;
}
#projects-3 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
}
.container_5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-pic-3 {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
}
.grid-pic-3-1 {
  margin: 20px;
}
#gp3-img {
  height: 300px;
  filter: 
  drop-shadow(5px 0px 2px rgba(255,0,255,0.5))
  drop-shadow(-4px 0px 5px rgba(0,255,191,0.5))
  drop-shadow(5px 0px 10px rgba(49,122,255,1));
}
#art-btn {
  background-color: rgba(0,0,0,0.0);
  color: white;
  border-color: white;
  font-size: 1.2rem;
  font-family: "Archivo Black", sans-serif;
  cursor: pointer;
}
/* FOOTER */
footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
}
footer p {
  font-size: 1.2rem;
}
